
@media screen and (max-width: 640px) {
	#counter-up{
		background: url(../images/bg.jpg)no-repeat;
		background-position: center center;
		max-width: 100%;
	}
	.item h3 {
		font-size: 30px !important;
	}
	.item h2{
		font-size: 60px;
	}

	.item h4{
		font-size: 60px;
	}
	.about-icon{
		max-width: 292px;
		margin: 30px auto;
	}
	.service-icon{
		max-width: 292px;
		margin: 30px auto;
	}

	/* hinh tope */
	.element-item{
		width: 50%;
	}

	.pricing{
		max-width: 292px;
		margin: 30px auto;
	}

	/* counter-up */
	.count{
		max-width: 292px;
		margin: 30px auto;
	}
	.counter-content {
		padding-top: 16px;
		padding-bottom: 40px;
	}

	/* end counter-up */
}

@media screen and (max-width: 768px) {
	#counter-up{
		background: url(../images/bg.jpg)no-repeat;
		background-position: center center;
		max-width: 100%;
	}
	.item h3 {
		font-size: 30px !important;
	}
	.item h2{
		font-size: 60px;
	}

	.item h4{
		font-size: 60px;
	}
	.about-icon{
		max-width: 292px;
		margin: 30px auto;
	}
	.service-icon{
		max-width: 292px;
		margin: 30px auto;
	}

	/* hinh tope */
	.element-item{
		width: 50%;
	}

	.pricing{
		max-width: 292px;
		margin: 30px auto;
	}

	/* counter-up */
	.count{
		max-width: 292px;
		margin: 30px auto;
	}
	.counter-content {
		padding-top: 16px;
		padding-bottom: 40px;
	}

	/* end counter-up */
}

@media screen and (max-width: 480px) {
	/* hinh tope */
	.element-item{
		width: 100%;
	}
	.item h3 {
		font-size: 20px !important;
	}
	.item h2{
		font-size:40px;
	}

	.item h4{
		font-size: 40px;
	}
}