#preloader{
	background-color: #ffffff;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1100px
}
#preloader > img{
	position: absolute;
	left: 47%;
	top: 47%;
}
a{
	color:white;
}
ul{
	float: left;
	list-style: none;
}
#navigation{
	background-color: rgba(16,22,54, 0.5);
	border: 0 none;
	margin: 0;
}
.navbar-toggle{
	color: white;
}
.navbar-brand{
	padding: 0;
	height: auto;
}
.navbar-nav{
	padding: 0;
}
.navbar-nav li{
}
.navbar-nav li a{
	border-top: 3px solid transparent;
}

.navbar-nav li a.current, .navbar-nav li a.focus,.navbar-nav li a:hover{
	background-color: transparent;
	border-top: 3px solid #32b0ee;
	color: blue;
}
